body {
    color:red
}

[for="email"]{
    font-weight: bold;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.box {
    height: 4.5cm;
    width: 3.5cm;
}
.blue {
    background: forestgreen
}

.border-red {
    border: 1px solid red;
    box-sizing: border-box;

}

#submitButton {
    color: purple;
}
input, label, button .displayBlock {
    display: block;
}